/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Colors
$heading-active-bg: #ACD05E;
$heading-active-font: #3E5706;
$heading-bg: #595B60;
$heading-font: #FFF;
$heading-number-bg: #404247;
$list-items-bg: #E5E5E5;
$list-items-font: #797979;

i, p {
  display: inline-block;
  padding-top: 7px;
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #7A7B81;

  :nth-child(2) {
    margin-left: 10px;
  }
}

ul {
  list-style: none;
  margin-top: 36px;
  margin-bottom: 0;
  padding: 0;
}

li {
  position: relative;
  background-color: $list-items-bg;
  color: $list-items-font;
  border-bottom: 1px solid #C9C9C9;

  :nth-child(1) {
    color: #ACA6A6;
    padding-left: 13px;
    font-size: 10px;
    font-weight: 500;
  }

  :nth-child(2) {
    padding-left: 17px;
  }

  :nth-child(3) {
    border: 1px solid #C9C9C9;
  }
}

.small-number {
  padding: 1px 11px;
  border-radius: 12px;
  position: absolute;
  right: 12px;
  top: 7px;
}

.active {
  background-color: $heading-active-bg;
  // background-color: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.25));

  i, p {
    color: $heading-active-font;
  }

  .small-number {
    background-color: $heading-active-font;
    color: $heading-font;
  }
}

.header:hover {
  @extend .active;
}

.not-active {
  background-color: $heading-bg;

  i, p {
    color: $heading-font;
  }

  .small-number {
    background-color: $heading-number-bg;
  }
}

.active, .not-active {
  position: relative;
}
